@page
@model PRN221_WebNovel.Pages.Reader.DetailsModel
@{
    ViewData["Title"] = "Content";
}
<body>
    <main>
        <div class="chapter-wrapper container my-5">
            <a href="#" class="text-decoration-none">
                <h1 class="text-center text-success">@Html.DisplayFor(model => model.Novel.NovelName)</h1>
            </a>
            <hr class="chapter-end container-fluid">


            <div class="chapter-content mb-3">
                @Html.Raw(Model.Novel.Content)
            </div>
        </div>
    </main>
</body>